@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
body{
	width: 100%;
	height: 100%;
	background-image: url(cloud.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;
  animation: animatedBackground 130s linear infinite;
	animation-direction: alternate;
}
header{
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 25px;
	width: 75%;
  padding: 15px;
  border:4px solid #B0E0E6;
  border-radius:5px;
  font-weight: bold;
  box-shadow: 5px 5px 5px #888;
	margin-top: 100px;
}
main{
 background: rgba(255, 255, 255, 0.6);
 text-align: left;;
 width:50%;
 margin:auto;
 padding: 35px;
 border:4px solid #B0E0E6;
 border-radius:5px;
 font-weight: bold;
 box-shadow: 5px 5px 5px #888;
 font-size: 20px;
}
.hidden{
	display: none;
}
#scoreboard{
	text-align: center;
	font-size: 25px;
	padding: 25px;
}
#looking{
	float:right;
}
#start{
	display:none;
}
.restart{
	background-color: #B0E0E6;
  font-weight: bold;
	border-radius: 8px;
	font-size: 20px;
}
#ques1pic{
	float:right;
}
.startgame{
	background-color: #B0E0E6;
	font-weight: bold;
	border-radius: 8px;
	font-size: 20px;
}
.question0{
	padding: 25px;
}
